<div class="animation-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/main.gif" width="100%" class="main" />
      </div>
      <div class="col-md-6" style="margin-top: 12.5%;">
        <h3 class="logo-text">
          Geo Tag
        </h3>
        <h3
          style="
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 25px;
            font-family: 'Cairo', sans-serif;
          "
        >
          Helps Geo Tracking of Waste and Triggering Alerts and Mapping Areas
          with High Waste Index
        </h3>
        <br />
        <br />
        <div class="row">
          <div class="col-md-6">
            <br />
            <p style="font-family: 'Cairo', sans-serif;">
              Login as User <i class="fas fa-arrow-down"></i>
            </p>
            <!-- <div *ngIf="!authService.isLoggedIn()"> -->
            <button
              type="button"
              class="btn btn-success btn-block"
              (click)="signInWithGoogle()"
            >
              <i class="fab fa-google" aria-hidden="true"></i>
              Login with Google
            </button>
          </div>
          <div class="col-md-6">
            <!-- <p style="font-family: Georgia, 'Times New Roman', Times, serif;">
              Login as Admin <i class="fas fa-arrow-down"></i>
            </p> -->

            <!-- <button type="button" class="btn btn-primary btn-block">
              <a
                href="http://127.0.0.1:5500/index.html"
                style="outline: none;color:#fff"
              >
                <i class="far fa-smile-beam" style="color:#fff"></i>
                Face Login</a
              >
            </button> -->
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
