<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <div id="map"></div>
    </div>

    <div class="col-md-2">
      <br />
      <button type="button" class="btn btn-danger">
        Notifications
        <span class="badge badge-light">Max Intensity Area : 0.8</span>
      </button>

      <a href="#" class="text-center badge badge-primary">Location : Gurgaon</a>
      <br />
      <br />
      <br />
      <button class="btn btn-primary btn-block" (click)="move()">
        Navigate
      </button>
    </div>
  </div>
</div>
<hr />
<p>*every Single days data</p>
